html, body {
    height: 100%;
}

h3 {
    text-align: center;
}

.auth-form input {
    width: 20rem;
}

/* body {
    display: flex;
    justify-content: space-evenly;
    height: inherit;
}

#edit-password-menu {
    justify-content: space-between;
    flex-direction: column;
    padding: 4rem 2rem;
}

#edit-password-form {
    gap: 3rem;
}

#edit-password-form input {
    width: 20rem;
} */