.wallpaper-list {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
}

.wallpaper-list div {
    position: relative;
    top: 0;
    left: 0;
}

.wallpaper-list label {
    display: block;
    float: left;
}

.radio-button {
    visibility: hidden;
}

.wallpapers {
    width: 6rem;
    height: 8rem;
    top: 0;
    left: 0;
}

.wallpapers:hover {
    cursor: pointer;
}

.check-mark-img {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    bottom: 7.5rem;
    left: 5.313rem;
    visibility: hidden;
    z-index: 1000;
}

@media (max-width: 1250px) {
    .wallpaper-list {
        padding-top: 0;
        gap: 1rem;
    }

    .wallpapers {
        width: 2.5rem;
        height: 4rem;
        top: 0;
        left: 0;
    }

    .check-mark-img {
        bottom: 3.5rem;
        left: 2rem;
    }
}
