
body {
    display: flex;
    justify-content: center;
    height: inherit;
}

#login-menu img {
    height: 20rem;
    width: 20rem;
}

#login-form a {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
}

#login-form a:hover {
    text-decoration: underline;
}