body {
    display: flex;
    justify-content: center;
    height: inherit;
}

#signup-menu {
    justify-content: flex-start;
    padding: .3rem 6rem 0 6rem;
}

#signup-form {
    gap: 2rem;
}

#signup-form input {
    width: 20rem;
}
