.wallpaper-list {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
}

.wallpaper-list div {
    position: relative;
    top: 0;
    left: 0;
}

.wallpaper-list label {
    display: block;
    float: left;
}

.radio-button {
    visibility: hidden;
}

.wallpapers {
    width: 6rem;
    height: 8rem;
    top: 0;
    left: 0;
}

.wallpapers:hover {
    cursor: pointer;
}

.check-mark-img {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 120px;
    left: 85px;
    visibility: hidden;
    z-index: 1000;
}
