.wallpaper-list {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
}

.wallpaper-list div {
    position: relative;
    top: 0;
    left: 0;
}

.wallpaper-list label {
    display: block;
    float: left;
}

.radio-button {
    visibility: hidden;
}

.wallpapers {
    width: 6rem;
    height: 8rem;
    top: 0;
    left: 0;
}

.wallpapers:hover {
    cursor: pointer;
}

.check-mark-img {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 120px;
    left: 85px;
    visibility: hidden;
    z-index: 1000;
}

/* **************************************************************************** */

.item-entries nav {
    position: absolute;
}

.item-entries .kebab-button {
    position: absolute;
    top: 13%;
    right: 1%;
    cursor: pointer;
    width: 1rem;
    height: 10%;
    border: none;
    background: none;
    display: none;
}

.item-entries span {
    display: block;
    width: 4px;
    height: 4px;
    margin: 2px;
    background-color: #FED86B;
    opacity: 1;
    transform-origin: center;
}

.item-entries nav {
    background-color: #FED86B;
    z-index: 9000;
    position: absolute;
    top: 22%;
    right: -22%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    display: none;
}

.item-entries .edit-button {
    background: none;
    border: none;
    width: 4rem;
    padding: .6rem .4rem .6rem .4rem;
    cursor: pointer;
    text-align: left;
}

.item-entries .edit-button:hover {
    background-color: #ffb866;
}

