<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleEditPassword.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>NoteBlocs</title>
</head>
<body>
    <div id="edit-password-menu" class="auth-menu">
        <h3>Esqueceu sua senha? Digite aqui seu email para redefini-la</h3>
        <form id="edit-password-form" class="auth-form" action="/forgotpassword" method="POST">
            <%- include('includes/errorMessages') %>
            <input id="email" name="email" type="text" placeholder="Email" autocomplete="off">
            <button class="user-button" type="submit">Enviar email</button>
        </form>
    </div>
</body>
</html>