<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleEditPassword.css">
    <title>NoteBlocs</title>
</head>
<body>
    <button id="back-button" onclick="history.back()">&#8249;</button>

    <section id="background-image">
        <div class="auth-menu">
            <h3>Esqueceu sua senha? Digite aqui seu email para redefini-la</h3>
            <form class="auth-form" action="/forgotpassword" method="POST">
                <%- include('includes/errorMessages') %>
                <input id="email" name="email" type="text" placeholder="Email" autocomplete="off">
                <button class="user-button" type="submit">Enviar email</button>
            </form>
        </div>
    </section>
</body>
</html>