<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleEditPassword.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>NoteBlocs</title>
</head>
<body>
    <div id="edit-password-menu" class="auth-menu">
        <h3>Digite sua nova senha</h3>
        <form id="edit-password-form" class="auth-form" action="/forgotpassword/verify/?token=<%= token %>" method="POST">
            <%- include('includes/errorMessages') %>
            <input id="password" name="password" type="password" placeholder="Senha" autocomplete="off">
            <button class="user-button" type="submit">Redefinir</button>
        </form>
    </div>
</body>
</html>