<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleSignupConfirmation.css" type="text/css" media="all">
    <title>NoteBlocs</title>
</head>
<body>
    <section id="container">
        <h1> Sua senha foi modificada com sucesso </h1>
        <p> Você será redirecionado para a página de login </p>
        <div class="loader"></div>
    </section>

    <script>
        setTimeout(function() {
          window.location.href = '/login';
        }, 4000); 
    </script>
</body>
</html>