<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/styleHome.css" type="text/css" media="all">
    <title>NoteBlocs</title>
</head>

<body>
    <nav id="menu">
        <h1>NoteBlocs</h1>
        <ul>
            <li>
                <button id="nav-button" title="Novo bloco">
                    <img src="/img/plusIcon.png" alt="Image de adição no botão">
                </button>
            </li>
            <% if(!user) { %>
            <li>
                <a href="/login">Entrar</a>
                <% user %>
            </li>
            <% } else { %>
            <li>
                <a href="/logout">Sair</a>
                <% user %>
            </li>
            <% } %>
        </ul>
    </nav>
    <section id="notebook-list">
        <ul id="notebook-entries">
            <% notebookList.forEach((item) => { %>
                <li>
                    <a href="/notebook?id=<%= item.id %>">
                        <img class="notebook-img" src="/img/imgTeste.jpg" alt="">
                        <p> <%= item.title %> </p>
                    </a>
                </li>
            <% }) %>
        </ul>
    </section>
    <section id="add-notebook-section">
        <h1> Novo caderno de anotações </h1>
        <form id="new-notebook-form" class="" action="" method="POST">
            <input id="title-input" name="title" type="text" autocomplete="off" placeholder="Título" maxlength="29">
            <div id="form-buttons">
                <button type="submit"><div class="underline-animation">Criar</div></button>
                <button id="closeFormButton" type="button"><div class="underline-animation">Cancelar</div></button>
            </div>
        </form>
    </section>
    <script src="/js/bundle.js"></script>
</body>
</html>
