<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/styleLogin.css" type="text/css" media="all">
    <title>NoteBlocs</title>
</head>

<body>
    <section id="login-menu" class="auth-menu">
        <img id="login-menu-img" src="/img/loginImage.png" alt="Image de um bloco de notas">
        <div class="auth-form-container">
            <h1> Login </h1>
            <form id="login-form" class="auth-form" action="/login" method="POST">
                <%- include('includes/errorMessages') %>
                <input id="email" name="email" type="text" placeholder="Email" autocomplete="off">
                <div class="password-input-div">
                    <input class="password-input" id="password" name="password" type="password" placeholder="Senha" autocomplete="off">
                    <img class="password-toggle-img" src="img/eyeClose.png" alt="">
                </div>
                <button class="user-button" type="submit">Login</button>
                <a href="/signup">Cadastre-se</a>
            </form>
        </div>
    </section>
    <script src="/js/passwordToggle.js"></script>
</body>
</html>