<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/styleNote.css" type="text/css" media="all">
    <title>NoteBlocs</title>
</head>

<body>
    <div id="main-content">
        <section id="action-buttons-field">
            <button>font-size</button>
            <button id="bold">N</button>
            <button id="italic">I</button>
            <button id="underline">U</button>
            <button id="background-color">T</button>
            <button id="font-color">T</button>
            <button id="uppercase">A</button>
            <button id="uppercase">A</button>
            <button id="lowercase">a</button>
        </section>
        <section>
            <textarea name="note-content" id="note-text-area" placeholder="Digite seu texto aqui">
    
            </textarea>
        </section>
    </div>
</body>
</html>
