<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/styleSignup.css" type="text/css" media="all">
    <title>NoteBlocs</title>
</head>
<body>
    <section id="signup-menu" class="form-menu">
        <div id="signup-container" class="form-container">
            <h1> Cadastre-se </h1>
            <form id="signup-form" class="forms" action="/signup" method="POST">
                <%- include('includes/errorMessages') %>
                <input id="username" name="username" type="text" placeholder="Username" autocomplete="off">
                <input id="email" name="email" type="text" placeholder="Email" autocomplete="off">
                <input id="password" name="password" type="password" placeholder="Senha (8 a 16 caracteres, deve conter número)" autocomplete="off">
                <button class="user-button" type="submit">Cadastre-se</button>
            </form>
        </div>
    </section>
</body>
</html>