<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleVerifyEmail.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>NoteBlocs</title>
</head>
<body>
    <div id="container">
        <h2>Um email foi enviado para você! Verifique sua caixa de entrada para redefinir sua senha</h2>
        <p>Não recebeu sua mensagem?</p>
        <form id="resend-email" action="/resendemailforpassword" method="POST">
            <button class="user-button">Reenviar email</button>
        </form>
    </div>
</body>
</html>